<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zekais-Api</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/x-icon">

</head>

<body id="top">

        <%- include('nav')  %> 

        <%- body %> 

    <footer>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-twelve">
                    <div class="copyright">
                       <span><a href="https://github.com/fawwaz37">2021 Zekais - All Rights Reserved</a></span>		         	
                   </div>
                   <div id="go-top">
                      <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
                   </div>         
                </div>
            </div>     	
        </div>
      </footer>
  
      <div id="preloader"> 
          <div id="loader"></div>
      </div>  
      <script src="/js/jquery-2.1.3.min.js"></script>
      <script src="/js/plugins.js"></script>
      <script src="/js/main.js"></script>
  </body>
  </html>
