<% if (success_msg != '') { %>
    <div class="alert-box ss-success hideit col-six">
        <%- success_msg %>
    </div>
<% } %>

<% if (error_msg != '') { %>
    <div class="alert-box ss-error hideit col-six">
        <%- error_msg %>
    </div>
<% } %>