<header id="header" class="row">   
  <div class="header-logo">
      <a href="/">Zekais-Api</a>
  </div>
  <nav id="header-nav-wrap">
      <ul class="header-main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/price">Price</a></li>
          <li><a href="/premium">Premium</a></li>
          <% if (user) { %>
            <li><a href="/users/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
          <% } %> 
      </ul>
      <a href="/docs" class="button button-primary cta">Docs</a>
  </nav>
  <a class="header-menu-toggle" href="#"><span>Menu</span></a>    	
</header>
