<section id="home" data-parallax="scroll" data-image-src="images/bgd.jpg">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>Hello User,</h3>
                <h1>
                    Welcome To Zekais-Api
                </h1>
                <div class="buttons" data-aos="fade-up">
                    <a href="/docs" class="button stroke">
                        <span><i class="fas fa-folder"></i></span>
                        Open Docs
                    </a>
                    <a href="https://github.com/fawwaz37/nodejs-restapi" class="button stroke" target="__blank">
                        <span><i class="fas fa-code"></i></span>
                         Source Code
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 

    <ul class="home-social-list">
        <li>
            <a href="https://api.whatsapp.com/send/?phone=6287715579966&text&app_absent=0" target="__blank"><i class="fab fa-whatsapp fa-lg"></i></a>
        </li>
        <li>
            <a href="https://github.com/fawwaz37" target="__blank"><i class="fab fa-github fa-lg"></i></a>
        </li>
        <li>
            <a href="http://zekais-restapi.herokuapp.com/" target="__blank"><i class="fas fa-link fa-lg"></i></a>
        </li>
    </ul>
    <div class="home-scrolldown">
        <a href="#testimonials" class="scroll-icon smoothscroll">
            <span>Scroll</span>
            <i class="icon-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</section> 

<section id="testimonials">
    <div class="row">
        <div class="col-twelve">
            <h1 class="intro-header" data-aos="fade-up">About Me</h1>
        </div>   		
    </div>   	
    <div class="row owl-wrap">
        <div id="testimonial-slider"  data-aos="fade-up">
            <div class="slides owl-carousel">
                <div>
                    <p>
                        Hello, I'm Zekais. For now I spend more time to explore about backend development especially using Node JS and MongoDb.
                        Contact Me Via <a href="https://api.whatsapp.com/send/?phone=6287715579966&text&app_absent=0" target="__blank">Whatsapp</a></p> 
                    <div class="testimonial-author">
                            <img src="images/hi.gif" alt="Author image">
                            <div class="author-info">
                                Zekais
                                <span>Owner, Zekais-Api</span>
                            </div>
                    </div>                 
                </div> 
            </div>
        </div>          
    </div>
</section>

<section id="download">
    <div class="row">
        <div class="col-full">
            <h1 class="intro-header"  data-aos="fade-up">Clone This API Now!</h1>
            <p class="lead" data-aos="fade-up">
                This project is open source, and you can clone it using the link below.<br>
                If you have any problems with the installation, please contact Zekais via 
                <a href="https://api.whatsapp.com/send/?phone=6287715579966&text&app_absent=0" target="__blank">Whatsapp</a>
            </p>
            <div class="primary" data-aos="fade-up">
                <a class="button button-default" href="https://github.com/fawwaz37/nodejs-restapi" target="__blank">
                    <span aria-hidden="true"><i class="fas fa-code"></i></span>
                 Source Code</a>
            </div>
        </div>
    </div>

</section>   
