<div class="text-center">
    <h1 class="display-3">Zekais-API</h1>
    <p class="lead">Login First to see Docs</p>
    <a href="/users/login" class="btn btn-dark btn-lg mb-2">Login</a>
    <p class="lead">You Can Clone This API on <a href="https://github.com/fawwaz37/" target="_blank">Github</a></p>
    <a href="https://github.com/fawwaz37/nodejs-restapi" target="_blank" class="btn btn-dark btn-lg mb-2">Source Code</a>
</div>
