<section id="home" data-parallax="scroll">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>404</h3>
                <h1>
                    Page Not Found
                </h1>
                <div class="buttons">
                    <a href="/" class="button stroke">
                        Home
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 
</section> 