<section id="pricing">
    <div class="row pricing-content">
        <center>
            <%- include('layouts/msg')  %> 
            <%- include('layouts/errors')  %> 
        </center>
    </div>
    <div class="row pricing-content">
        <center>
            <h2>REGISTER FORM</h2>
            <form method="POST" action="/users/register">
                <div>
                    <input style="font-family:Arial, FontAwesome" name="username" type="text" class="form-control" placeholder="&#xf007;   Username" required>
                </div>
                <div>
                    <input style="font-family:Arial, FontAwesome" name="password" type="password" class="form-control" placeholder="&#xf13e;   Password" required>
                </div>
                <div>
                    <input style="font-family:Arial, FontAwesome" name="confirmPassword" type="password" class="form-control" placeholder="&#xf13e;   Confirm Password" required>
                </div>
                <div>
                    <%- recaptcha %>
                </div>
                <p></p>
                <button type="submit" class="button button-primary">Register</button>
            </form>	
            <div>
                <p> </p>
                <p>Already have an account?</p>
                <a class="button button-primary" href="/users/login">Login</a>
            </div>
        </center>      
    </div>
</section>